@font-face {
    font-family: burbank-small;
    src: url(https://lazylinks.fr/timer/css/fonts/Burbank-Normal.woff);
 }
 @font-face {
     font-family: fortnite;
     src: url(https://lazylinks.fr/timer/css/fonts/Burbank-Normal.woff);
  }

body {
    background-image: url(https://lazylinks.fr/timer/css/bg.jpg);
    height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#timer {
    font-family: fortnite;
    color: white;
    font-size: 12em;
    text-shadow: 2px 2px 5px black;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    font-smooth: never;
    -webkit-font-smoothing : none;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(https://lazylinks.fr/timer/css/bg-2.jpg);
        height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
   
    #timer {
        font-size: 4em;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-image: url(https://lazylinks.fr/timer/css/bg-2.jpg);
        height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
   
    #timer {
        font-size: 6em;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-image: url(https://lazylinks.fr/timer/css/bg-2.jpg);
        height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
   
    #timer {
        font-size: 8em;
    }
}